{
  "extends": ["airbnb", "plugin:jasmine/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["jasmine", "json"],
  "env": {
    "jasmine": true
  },
  "rules": {
        "no-console":0
  }
}
